<%- include('./partials/header.ejs') %>

    <div class="home">
        <h1>Hmm...</h1>
        Nothing to see here...<br><br>
        <a href="/">Back to Home Page</a>
    </div>
    
<%- include('./partials/footer.ejs') %>