body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ece5d6;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* sticky nav bar */
}

nav {
  background-color: #eece89;
  padding: 20px;
  height: 20px;
}

nav > a {
  margin: 0 5px;
}

nav > a[href="/"] {
  float: left;
}

nav > a[href="/auth/google"], nav > a[href="/logout"] {
  float: right;
}

a {
  color: white;
  text-shadow: -1px 2px 0.2em black, 1px 2px 0.2em white;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  color: #FFFFFF;
}

main { /* landing page container */
  overflow-y: scroll;
  height: 100vh;
}

div.home {
  text-align: center;
}

.login {
  display: inline;
  height: 16px;
}

.login img {
  height: 13px;
  position: relative;
  top: 2px;
  left: -2px;
}
