body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ece5d6;
  /* background-color: black; */
  margin: 0;
}

nav {
  background-color: #eece89;
  padding: 20px;
  height: 20px;
}

nav > a {
  margin: 0 5px;
}

nav > a[href="/"] {
  float: left;
}

nav > a[href="/auth/google"], 
nav > a[href="/logout"],
nav > a[href="/users"] {
  float: right;
}

a {
  color: white;
  text-shadow: -1px 2px 0.2em black, -2px 0px 0.1em black;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  text-shadow: -1px 2px 0.2em black, 1px 2px 0.2em white;
}

main { /* landing page container */
  overflow-x: hidden;
  text-align: center;
}

main > h1 { /* landing page container */
  font-size: 3vh;
  margin: 0;
  padding-left: 2.5vh;
  padding-top: 1vh;
  background-color: black;
  color: white;
}

div.home {
  text-align: center;

}

div.home > img {
  position: relative;
  top: 1vh;
  width: 50vh;
  background-color: white;
  border-radius: 20vh;
}

form[action="/"] {
  position: relative;
  top: 4vh;
  right: 0.2vh;
  text-align: center;
  margin-bottom: 2vh;
}

form[action="/"] > input {
  /* outline: none; */
  text-align: center;
  border: 0.1vh solid black;
  border-radius: 20vh;
  width: 40vh;
  height: 5vh;
  font-size: 2vh;
}

form[action="/"] > button {
  outline: none;
  background-color: white;
  border: 0px;
  border-radius: 20vh;
  width: 4vh;
  height: 4vh;
  position: relative;
  bottom: 4.8vh;
  left: 17.7vh;
}

form[action="/"] > button > img {
  width: 2vh;
  height: 2vh;
  user-select: none;
  pointer-events: none;
  position:static;
}

div.list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  overflow-x: scroll;
  background-color: black;
  padding-bottom: 5vh;
}

div.list > div > p {
  text-align: center;
  font-size: 2vh;
  color: white;
  position: relative;
  user-select: none;
}

div.list > div > form > button {
  background: none;
  border: none;
}

div.list > div > form > button > img {
  width: 50vh;
  height: 50vh;
  margin: 0 5vh;
  
  /* text-align: center; */
  /* vertical-align: middle; */
  background-color: white;
}

div.list > div > form > button > img:hover {
  box-shadow: 0px 0px 5vh white;
}

.login {
  display: inline;
  height: 16px;
}

.login img {
  height: 13px;
  position: relative;
  top: 2px;
  left: -2px;
}

div.info {
  display: flex;
}