<%- include('../partials/header.ejs') %>

<main>
    <img src="<%= animeLarge %>">
    <div style="color: black; font-size: 1vh">
        JSON Stringify:<br>
        <%= JSON.stringify( animeLarge ) %>
    </div>
</main>

<%- include('../partials/footer.ejs') %>