<%- include('../partials/header.ejs') %>

    <main>
    <div class="home">
        <img src="<%= image %>">
    </div>
    <div>
        <%= JSON.stringify(animeData.animes) %>
    </div>
    <% for (let i = 0; i < 4; i++) { %>
    <div class="list">
        <h1>(Filter)</h1>
        <% for (let i = 0; i < 20; i++) { %>
        <div></div>
        <% } %>
    </div>
    <% } %>
    </main>

<%- include('../partials/footer.ejs') %>