<%- include('../partials/header') %>

<main>
  <h3>Character List:</h3>
  <section id="badge-container">
    <% characters.forEach(function(c) { %>
      <article class="badge"><%= c.name %></article>
    <% }) %>
  </section><br>

  <form id="add-character-form" action="/characters" method="POST">
    <label>Name:</label>
    <input type="text" name="name"><br>
    <label>Born:</label>
    <input type="date" name="born"><br><br>
    <input type="submit" value="Add Character">
  </form>
</main>

<%- include('../partials/footer') %>
